.postcontainer{
    background:white; 
    display: flex;
    justify-content: space-between;
    box-shadow :0px 0px 15px 0px #fda400;  
  }
  
  .wraper{
      background: white; 
      margin: 0 auto;
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      padding-left: 60px;
      padding-bottom: 40px;
      z-index: 1;
     
  }
  
  .posthead{
      font-size: 50px;
  
      font-family: 'Lato', sans-serif;
      background: -webkit-linear-gradient(#fa6604, #fda400, #fdad00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  
  }
  
  .posthead2{
      font-size: 30px;
   
      align-items: center;
      padding-top: 20px;
      padding-right: 20px;
      font-family: 'Lato', sans-serif;
      background: -webkit-linear-gradient(#fa6604, #fda400, #fdad00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
  
  }
  .posthead3{
      font-size: 50px;
      
      padding-left: 25px;
      font-family: 'Lato', sans-serif;
      background: -webkit-linear-gradient(#fa6604, #fda400, #fdad00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .posthead3:hover{
      background: -webkit-linear-gradient(#fa4a04, #fd7a00, #fdba00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .pages{
      display: flex;
      justify-content: center;
     
  }
  
  .active{
      background-color:#fda400;
      color:white;
  }
  
  .pageicon{
      font-size: 30px;
      font-weight: bold;
      color:#fda400 ;
      padding:5px;
  }
  .pageicon:hover{
      color:white;
      cursor: pointer;
  }
  
  .dot{
      padding-top: 15px;
      font-size:30px;
      font-weight: bold;
      color:#fda400 ;
  
  }
  .loader{
      display:block;
      margin-left: auto;
      margin-right: auto
  }

  .results{
    font-family: 'Lato', sans-serif;
    background: -webkit-linear-gradient(#fa6604, #fda400, #fdad00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    text-align: left;
    margin: 50px 50px 10px 50px;
  }
  
  @media screen and (max-width:500px){
      .wraper{
          padding-left: 5px;
      }
  }