.aboutContainer{
    font-family: 'Inria Serif', serif;
    font-size: 26px;
    padding: 90px 60px 30px 45px;
    text-align: justify;
}

@media screen and (max-width:500px){
    .aboutContainer{
        font-size:20px
    }
}
